version: "3.9"

services:
  backend:
    build: ./backend
    container_name: KinoKatalog-backend
    restart: unless-stopped
    ports:
      - "8080:8080"

    environment:
      # MySQL Railway
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?useSSL=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect

      # MongoDB Atlas
      SPRING_DATA_MONGODB_URI: ${MONGODB_URI}

      # Neo4j Aura
      SPRING_NEO4J_URI: ${NEO4J_URI}
      SPRING_NEO4J_AUTHENTICATION_USERNAME: ${NEO4J_USER}
      SPRING_NEO4J_AUTHENTICATION_PASSWORD: ${NEO4J_PASSWORD}
